ion-slides {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide-1 {

  background-color: #eef1ed00;

  img {
    width: 50%;
  }
  ion-title {
    font-weight: 900;
    font-size: 160%;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
  }

}

#slide-2 {

  background-color: #eef1ed00;

  ion-icon {
    font-size: 9em;
    color: #295d0c;
  }
  ion-title {
    font-weight: 900;
    font-size: 160%;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
  }

}

#slide-3 {

  background-color: #eef1ed00;

  ion-icon {
    font-size: 9em;
    color: #295d0c;
  }
  ion-title {
    font-weight: 900;
    font-size: 160%;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
  }

}

#slide-4 {

  background-color: #eef1ed00;

  ion-icon {
    font-size: 9em;
    color: #295d0c;
  }
  ion-title {
    font-weight: 900;
    font-size: 160%;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
  }

}

