<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Detalhes do Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="banner">
    <ion-row size="12" class="texto">
      <h1 class="conteudo">{{ ponto?.valorCompra | currency:'BRL' }}</h1>
    </ion-row>
    <ion-row size="12" class="texto">
      <h2 class="conteudo__h2 ion-no-margin">{{ ponto?.totalPontos}} Pontos</h2>
    </ion-row>
  </ion-grid>
</ion-content>
