<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Detalhes do Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row__header borda-arrendodada-55" size="12">
    <ion-col>
      <h1 class="conteudo ion-no-margin ion-margin-top  ion-text-center">{{ ponto?.valorCompra | currency:'BRL' }}</h1>
      <h2 class="conteudo__h2 ion-no-margin ion-margin-bottom ion-text-center">{{ ponto?.totalPontos }} Pontos</h2>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações Gerais</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Data de Venda: </strong>{{ ponto?.dataCompra }}</p>
        <p><strong>Cliente: </strong>{{ ponto?.clienteNome }}</p>
        <p><strong>Descrição: </strong>{{ ponto?.descricao }}</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
