<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Alguma Dúvida ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total texto="Veja como funciona"></app-banner-radius-total>
  <ion-card padding>
    <h2>COMO FUNCIONA O CÁLCULO DE PONTOS?</h2>
    <p>
      Sobre cada compra realizada é feito um cálculo e os pontos obtidos são relativos ao valor
      que você informou no ato do cadastro do seu negócio. Para consultar qual o valor que você cadastrou
      vá até o seu perfil.
    </p>
  </ion-card>
  <ion-card padding>
    <h2>COMO FAÇO PARA ALTERAR O MEU PARÂMETRO DE PONTOS?</h2>
    <p>
      Você pode nos enviar um e-mail para <strong>suporte.fielapp@gmail.com</strong> com a
      sua solicitação, ou pode acessar a página "Fale com a gente" e explicar a sua situação.
      Ficaremos honrados em te ajudar :).
    </p>
  </ion-card>
</ion-content>
