<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Recuperação de senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total texto="Solicite o código"></app-banner-radius-total>
  <ion-grid>
    <ion-row>
      <ion-col no-padding>
        <ion-card padding>
          <ion-input type="email" [(ngModel)]="email" class="ion-input__pesquisa" placeholder="Digite o seu e-mail">
            <ion-icon class="ion-padding" color="primary" ios="ios-search" md="md-search"></ion-icon>
          </ion-input>
          <ion-button expand="block" color="primary" type="button" [disabled]="!email" (click)="enviarEmail(email)">Enviar e-mail de recuperação</ion-button>
        </ion-card>
        <ion-card padding>
          <ion-button expand="block" color="primary" type="button" [routerLink]="'digitar-codigo-recuperacao'">Já possuo o código!</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
