<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Recompensas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row__header borda-arrendodada-100">
    <ion-col>
      <ion-title>Minhas Recompensas</ion-title>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="recompensas.length === 0">
    <ion-card style="background-color: white" class="w-100 ion-text-center">
      <ion-card-content>
        Você não possui recompensas cadastradas :(
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let recompensa of recompensas">
        <ion-card class="welcome-card card__recompensa">
          <ion-card-header>
            <ion-card-title>{{ recompensa.descricao }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button no-margin class="footer__button" [routerLink]="['/ponto-update/']" size="full">Adicionar um nova recompensa</ion-button>
</ion-footer>
