<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Trocar Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total [texto]="cliente?.totalPontos + ' Pontos disponíveis'"></app-banner-radius-total>
  <ion-grid>
    <ion-row *ngIf="movimentacoesCliente.length === 0">
      <ion-card style="background-color: white" class="w-100 ion-text-center">
        <ion-card-content>
          Você não possui nenhuma recompensa cadastrada :(
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-card *ngFor="let movimentacaoEstoqueCliente of movimentacoesCliente">
      <ion-row>
        <ion-col align-self-center size="4">
          <h1 class="h1__recompensaDescricao">{{ movimentacaoEstoqueCliente.nomeRecompensa }}</h1>
          <label *ngIf="movimentacaoEstoqueCliente.estoqueRecompensa > 0">{{ movimentacaoEstoqueCliente.pontosRecompensa }} pontos</label>
          <label *ngIf="movimentacaoEstoqueCliente.estoqueRecompensa <= 0" class="label__detalhe-recompensa" style="color: red;">Fora de Estoque</label>
        </ion-col>
        <ion-col size="8">
          <ion-row justify-content-center>
            <ion-col size="3">
              <ion-button
                      (click)="movimentaEstoqueRecompensa(movimentacaoEstoqueCliente)"
                      [disabled]="movimentacaoEstoqueCliente.quantidade >= movimentacaoEstoqueCliente.estoqueRecompensa || cliente.totalPontos < movimentacaoEstoqueCliente.pontosRecompensa">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center size="3">
              <ion-input disabled
                         [value]="movimentacaoEstoqueCliente.quantidade"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-button
                      (click)="decrementarRecompensa(movimentacaoEstoqueCliente)" [disabled]="movimentacaoEstoqueCliente.quantidade === 0">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="movimentacoesCliente.length > 0">
  <ion-button (click)="realizarTroca()" size="full">  <ion-icon name="checkmark"></ion-icon>&nbsp;Trocar</ion-button>
</ion-footer>
