$corInicialDegrade: #00C917;
$corFinalDegrade:#00C911;

.banner {
  background: #067302;
  height: 14%;
  box-shadow: 0px 10px 7px #e4dcb8;
}
.banner .texto {
  justify-content: center;
}
.conteudo {
  font-size: 2em;
  font-weight: 200;
  color:white
}

.conteudo__h2 {
  font-size: 1em;
  font-weight: 200;
  color:white
}

ion-card {
  background-color: white;
  padding: 0.6em;
}

ion-list, ion-item {
  background: inherit!important;
  --background: white;
}
.h1__recompensaDescricao {
  margin: 0px;
  font-size: 1em;
  font-weight: 900;
}

.label__detalhe-recompensa {
  font-size: 0.8em;
}
