<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Trocar Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total [texto]="cliente?.totalPontos + ' Pontos disponíveis'"></app-banner-radius-total>
  <ion-grid>
    <ion-card *ngFor="let recompensaCliente of recompensasCliente">
      <ion-row>
        <ion-col align-self-center size="4">
          <h1 class="h1__recompensaDescricao">{{ recompensaCliente.recompensaDescricao }}</h1>
          <label>{{ recompensaCliente.recompensaPontos }} pontos</label>
        </ion-col>
        <ion-col size="8">
          <ion-row justify-content-center>
            <ion-col size="3">
              <ion-button [disabled]="!liberaIncrementoRecompensa(recompensaCliente)" (click)="incrementarRecompensa(recompensaCliente)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center size="3">
              <ion-input disabled [value]="recompensaCliente.quantidade"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-button [disabled]="recompensaCliente.quantidade === 0" (click)="decrementarRecompensa(recompensaCliente)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button (click)="realizarTroca()" size="full">Trocar</ion-button>
</ion-footer>
