.conteudo {
  font-size: 2em;
  font-weight: 200;
  color:white
}

.conteudo__h2 {
  font-size: 1em;
  font-weight: 200;
  color:white
}

ion-card {
  background-color: white;
}

.row__header {
  height: 5em;
  text-align: left;
  align-content: center;
  background-color: #067302;
  color: white;
}

.ion-title___grid_recompensas {
  font-weight: 900;
  font-size: 1em;
}