<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhe do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [tituloBanner]=" cliente?.nome + ' ' + cliente?.sobrenome + ' | ' + cliente?.totalPontos + ' pontos'"></app-banner>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações Gerais</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Nome: </strong>{{ cliente?.nome + ' ' + cliente?.sobrenome }}</p>
        <p><strong>Email: </strong>{{ cliente?.email }}</p>
        <p><strong>C.P.F.: </strong>{{ cliente?.cpf }}</p>
        <p><strong>Whatsapp: </strong>{{ cliente?.whatsapp }}</p>
        <p><strong>Cliente desde: </strong>{{ cliente?.dataCadastro | date:'mediumDate' }}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dados do endereço</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Rua: </strong>{{ cliente?.rua }}</p>
        <p><strong>Bairro: </strong>{{ cliente?.bairro }}</p>
        <p><strong>Cidade: </strong>{{ cliente?.cidade }}</p>
        <p><strong>Estado: </strong>{{ cliente?.estado }}</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="create"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="goto('/historico-cliente/'+cliente?.codigo)"><ion-icon name="analytics"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list *ngIf="cliente?.totalPontos > 0" side="start">
        <ion-fab-button><ion-icon name="git-compare"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="openModalPonto()" size="full">Pontuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
