<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Detalhe do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row__header borda-arrendodada-55" size="12">
    <ion-col>
      <h1 class="conteudo ion-no-margin ion-margin-top  ion-text-center">{{ cliente?.nome + ' ' + cliente?.sobrenome }}</h1>
      <h2 class="conteudo__h2 ion-no-margin ion-margin-bottom ion-text-center">{{ cliente?.totalPontos }} Pontos</h2>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações Gerais</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nome: </strong>{{ cliente?.nome + ' ' + cliente?.sobrenome }}</p>
        <p><strong>Whatsapp: </strong>{{ cliente?.whatsapp }}</p>
        <p><strong>Cliente desde: </strong>{{ cliente?.dataCadastro | date:'mediumDate' }}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dados do endereço</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Rua: </strong>{{ cliente?.rua ? cliente?.rua : '---' }}</p>
        <p><strong>Bairro: </strong>{{ cliente?.bairro ? cliente?.bairro : '---'  }}</p>
        <p><strong>Cidade: </strong>{{ cliente?.cidade ? cliente?.cidade : '---'  }}</p>
        <p><strong>Estado: </strong>{{ cliente?.estado ? cliente?.estado : '---'  }}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recompensas Disponíveis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-title text-left no-padding class="ion-title___grid_recompensas">Nome</ion-title>
            </ion-col>
            <ion-col text-left size="4">
              <ion-title text-left no-padding class="ion-title___grid_recompensas">Quantidade</ion-title>
            </ion-col>
            <ion-col text-left size="4">
              <ion-title text-left no-padding class="ion-title___grid_recompensas"></ion-title>
            </ion-col>
          </ion-row>
          <ion-row margin-top *ngFor="let recompensaCliente of recompensasCliente">
            <ion-col no-padding align-self-center size="4">
              <ion-text class="ion-text___grid_recompensas">{{ recompensaCliente.recompensaDescricao }}</ion-text>
            </ion-col>
            <ion-col no-padding text-center align-self-center size="4">
              <ion-text class="ion-text___grid_recompensas">{{ recompensaCliente.quantidade }}</ion-text>
            </ion-col>
            <ion-col no-padding text-right size="4">
              <ion-text class="ion-text___grid_recompensas">
                <ion-button (click)="alertTroca(recompensaCliente)" style="font-size: 0.7em;" color="primary"><ion-icon name="create"></ion-icon></ion-button>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="create"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="goto('/historico-cliente/'+cliente?.codigo)"><ion-icon name="analytics"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list *ngIf="cliente?.totalPontos > 0" side="start">
        <ion-fab-button (click)="goto('/troca-ponto/'+cliente?.codigo)"><ion-icon name="git-compare"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
      <ion-button no-margin class="footer__button" (click)="openModalPonto()" size="full">Pontuar</ion-button>
</ion-footer>
