<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Estatística</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total texto="Meus Números"></app-banner-radius-total>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Meu Lucro</ion-card-subtitle>
          <ion-card-title class="ion-card-title__total-lucro">{{ receitaTotal ? (receitaTotal | currency:'BRL') : ('R$ 0,00') }}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <div>
    <div id="carrosselProdutos">
      <ion-card class="cardProduto">
        <div class="cardProduto slideHome">
          <ion-card-content>
            <ion-row>
              <ion-col align-self-center>
                <ion-card-subtitle>Qtd de Clientes</ion-card-subtitle>
                <ion-card-title class="ion-card-title__information">{{ totalClientes }}</ion-card-title>
              </ion-col>
              <ion-col align-self-center>
                <ion-icon class="ion-icon__icon-card" name="people"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </div>
      </ion-card>
      <ion-card class="cardProduto">
        <div class="cardProduto slideHome">
          <ion-card-content>
            <ion-row>
              <ion-col align-self-center>
                <ion-card-subtitle>Pontos cadastrados</ion-card-subtitle>
                <ion-card-title class="ion-card-title__information">{{ totalPontos }}</ion-card-title>
              </ion-col>
              <ion-col align-self-center>
                <ion-icon class="ion-icon__icon-card" name="calculator"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
  <div>
    <ion-row>
      <ion-col align-self-center>
        <ion-card [routerLink]="['/detalhe-cliente', clienteMaisPontos?.codigo]">
          <ion-card-header>
            Mais pontos <ion-icon  style="color: green" name="arrow-round-up"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="ion-card-title__information">{{ clienteMaisPontos?.nome }}</ion-card-title>
            <ion-card-title class="ion-card-title__information" style="font-size: 1em">{{ clienteMaisPontos?.totalPontos }} Pontos</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card [routerLink]="['/detalhe-cliente', clienteMenosPontos?.codigo]">
          <ion-card-header>
            Menos pontos <ion-icon style="color: red" name="arrow-round-down"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="ion-card-title__information">{{ clienteMenosPontos?.nome }}</ion-card-title>
            <ion-card-title class="ion-card-title__information" style="font-size: 1em">{{ clienteMenosPontos?.totalPontos }} Pontos</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
