ion-card {
  background-color: white;
  border-radius: 0.8em;
}

.ion-card-title__total-lucro {
  font-size: 2em;
  font-weight: 600;
}

.ion-card-title__information {
  font-size: 2em;
  font-weight: 600;
}

.ion-icon__icon-card {
  font-size: 4em;
  color:  #3b8010;
}

// CARROSSEL DE PRODUTOS
#carrosselHomeProdutos span {
  padding-left: 3em;
  font-size: 115%;
}
#carrosselProdutos{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#carrosselProdutos ion-card {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.6em;
}
