ion-card {
  background-color: white;
}

ion-list, ion-item {
  background: inherit!important;
  --background: white;
}

.ion-icon__tipo {
  font-size: 3.5em;
}

.data_movimentacao {
  font-size: 80%;
  width: 13em!important;
}
