.card__recompensa {
  background-color: white;
  border-radius: 0.8em;
}

.cardFooter{
  font-size: 1em;
  background-color: #3f8c39;
  color: white;
}

.card-header__descricao-recompensa {
  height: 6em;
}

.ion-col__icon_financeiro {
  font-size: 6em;
  background-color: #ababab14;
}

.ion-card-title__descricao {
  font-size: 1.2em;
}

.h1__descricao-financeiro {
  margin-bottom: 0;

  font-size: 1.5em;

  font-weight: 900;
}

.p__status_financeiro {
  font-size: 1.1em;
}
