ion-row {
  height: 50%;
}

.ion-row__top{
  background: #7ead80;
}

.card__login {
  height: 19em;
  top: -35%;
  background: white;
  width: 100%;
}

ion-list, ion-item {
  background: inherit!important;
  --background: white;
}

img {
  height: 9em;
  margin-top: 13%;
}

ion-input {
  font-size: 0.8em;
}

ion-button {
  height: 3em;
  font-size: 0.8em;
}

ion-footer {
  text-align: center !important;
  background-color: #f2fef1;
  font-size: x-small;
}
