<ion-content>
  <ion-row justify-content-center class="ion-row__top">
    <img src="https://res.cloudinary.com/dca4v2he5/image/upload/v1579654705/fiel-app/0c12d9f4-9967-4c6f-a294-ca6d7248b73c_200x200_m3kmho.png" alt="LOGO">
  </ion-row>
  <ion-row class="ion-row__bottom">
    <ion-card class="card__login">
      <ion-card-content>
        <form #form="ngForm" (submit)="doLogin()">
          <ion-list>
            <ion-item>
              <ion-icon name="mail" slot="start" color="primary"></ion-icon>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="account.username" name="username" placeholder="Digite seu e-mail" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock" slot="start" color="primary"></ion-icon>
              <ion-label position="floating">Senha</ion-label>
              <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Digite sua senha" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid">Entrar</ion-button>
          <ion-button id="cadastrese" routerLink="/empresa" expand="block" color="dark" fill="clear" size="small">Ainda não é cadastrado ? Clique aqui</ion-button>
          <ion-button routerLink="/esqueci-minha-senha" expand="block" color="dark" fill="clear" size="small">Esqueci minha senha</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
<ion-footer class="ion-text-center">
   Fiel © · v0.0.5 · 2019~2020
</ion-footer>
