img{
  margin-top: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
form{

}
#face {
  --background: #4064ad;
}
#google {
  --background: #ea4335;;
}

ion-button {
  height: 45px;
}
#linha {
  width: 100%;
  height: 1px;
  background-color: #cac7c7;
  margin-top: 25px;
}
#ou {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 8pt;
  margin-top: -6px;
  background: #fff;
  text-align: center;
}
#esqueceuSenha {
  width: 200px;
  margin-right: 15px;
  margin-left: auto;
  display: block;
}

#cadastrese {
  font-size: 8pt;
}