<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Histórico do Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-banner-radius-total texto="Pontos"></app-banner-radius-total>
  <ion-row>
    <ion-col size="6" *ngFor="let ponto of pontos">
      <ion-card [routerLink]="'/detalhe-ponto/'+ponto?.codigo">
        <ion-card-header>
          <ion-card-subtitle>{{ ponto?.dataCompra | date:'mediumDate' }}</ion-card-subtitle>
          <ion-card-title>{{ ponto?.valorCompra | currency:'BRL' }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ ponto?.descricao }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
