ion-toolbar {
  padding: 2em 0em 1em 1em!important;
  --background: url('../assets/externas/fundoMenu.png');
  // box-shadow: 0px 0px 15px #131313;
}

#imgPerfil {
  border-radius: 100%;
}

ion-title {
  color: white;
}

.span__razaoSocial {
  font-size: 1em;
  font-weight: 600;
}

.span__email {
  font-size: 0.85em;
}

ion-list {
  background: white !important;
}
ion-item {
  --background: white;
}

ion-content {
  --background: white;
}


