<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu id="menu" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <div [ngStyle]="{'background-image' : 'url('+ ( empresa.foto_url ? empresa.foto_url : 'https://res.cloudinary.com/fielmobile/image/upload/v1584327027/utils/camera_vonhpq.png' ) +')'}" id="img"></div>
            </ion-row>
            <ion-row margin-top>
              <ion-title no-padding class="span__razaoSocial">{{ empresa.razaoSocial ? empresa.razaoSocial : empresa.nome }}</ion-title>
            </ion-row>
            <ion-row>
              <ion-title no-padding class="span__email">{{ empresa.email ? empresa.email : '---' }}</ion-title>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="p.isAuthenticated && isAuthenticated ? true : (!p.isAuthenticated ? true : false)" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="!isAuthenticated">
            <ion-item [routerDirection]="'root'" [routerLink]="'/login'">
              <ion-icon slot="start" [name]="'list'"></ion-icon>
              <ion-label>
                Realizar Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <p no-margin padding-start class="p__sobre">Sobre</p>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'/politicas-de-privacidade'">
              <ion-icon slot="start" name="paper"></ion-icon>
              <ion-label>
                Políticas de Privacidade
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'/suporte-tecnico'">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>
                Fale com a gente
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
