ion-toolbar {
  padding: 2em 0em 1em 1em!important;
  --background: url('https://res.cloudinary.com/dca4v2he5/image/upload/v1579454856/fiel-app/utils/260a03db05711a759bc7819824bda28d_eirpbj.png');
  box-shadow: 0px 0px 15px #131313;
}

#imgPerfil {
  border-radius: 100%;
}

ion-title {
  color: white;
}

.span__razaoSocial {
  font-size: 1em;
  font-weight: 600;
}

.span__email {
  font-size: 0.85em;
}



