.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card__cliente {
  background-color: white;
  border-radius: 0.8em;
}

.col__nome-cliente {
  background-color: #308c39;

  ion-card-title {
    --color: white !important;
  }
}

.col__pontos-cliente {
  ion-title {
    --color: black!important;
  }
}

.ion-input__pesquisa {
  background-color: white;
}
