<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Pontuar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total [texto]="'Novo Ponto'"></app-banner-radius-total>
  <form (submit)="create()" [formGroup]="editForm">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Data do serviço</ion-label>
          <ion-input placeholder="Data da compra" disabled type="text" [value]=" momento | date: 'dd/MM/yyyy HH:mm'"></ion-input>
          <small style="color: red" *ngIf="editForm.controls['idRecompensa'].hasError('required')">*Obrigatório</small>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-usd" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Valor da Compra</ion-label>
          <ion-input class="ion-text-end" required placeholder="Digite o valor da compra" type="number" formControlName="valorCompra"></ion-input>
          <small style="color: red" *ngIf="editForm.controls['valorCompra'].hasError('required')">*Obrigatório</small>
        </ion-item>
        <ion-item>
          <ion-icon name="text" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Descrição da Compra</ion-label>
          <ion-textarea placeholder="Digite a descrição da compra" formControlName="descricao"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="primary" type="submit" [disabled]="editForm.invalid"><ion-icon name="checkmark"></ion-icon>&nbsp;Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
