<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Recuperação de senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner-radius-total texto="Digitar meu código"></app-banner-radius-total>
  <ion-grid *ngIf="!editForm.controls['codigo'].value" margin-top>
    <ion-card padding>
      <ion-row>
        <ion-col no-padding>
            <ion-input [(ngModel)]="parte1" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="parte2" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="parte3" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="parte4" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="parte5" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="parte6" no-padding maxlength="1" type="email" class="ion-input__codigo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row margin-top>
          <ion-button (click)="pesquisarUser()" class="w-100" expand="block" color="primary" type="button">Confirmar</ion-button>
      </ion-row>
    </ion-card>
  </ion-grid>
  <ion-grid *ngIf="editForm.controls['codigo'].value">
    <form (submit)="salvar()" class="form" [formGroup]="editForm">
      <ion-card>
        <ion-list>
          <ion-item class="itemForm">
            <ion-label position="floating">Nova Senha</ion-label>
            <ion-input required type="password" formControlName="senha" placeholder="Digite a nova senha"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-grid center text-center>
          <ion-row>
            <ion-col size="12">
              <ion-button color="danger" class="w-100" type="submit"><ion-icon name="log-out"></ion-icon>&nbsp;Atualizar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </form>
  </ion-grid>
</ion-content>
