.ion-input__codigo {
  text-align: center;
  border: 1px solid #308c39;
  border-radius: 0.3em;
  height: 3em;
  width: 85%;
}

ion-card {
  background-color: white;
}

ion-list, ion-item {
  background: inherit!important;
  --background: white;
}
