<ion-content>
<ion-slides pager="true">
  <ion-slide id="slide-1">
    <ion-grid>
      <ion-row justify-content-center class="ion-row__top">
        <img src="https://res.cloudinary.com/dca4v2he5/image/upload/v1579654705/fiel-app/0c12d9f4-9967-4c6f-a294-ca6d7248b73c_200x200_m3kmho.png" alt="LOGO">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-margin-bottom ion-margin-top">Seja Bem vindo</ion-title>
          <p>O Fiel Mobile surgiu com a proposta de prestar um auxílio aos microempreendedores na hora de fidelizar os seus clientes! Deslize para conhecer mais :) !!!</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide id="slide-2">
    <ion-grid>
      <ion-row justify-content-center class="ion-row__top">
        <ion-icon name="heart"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-margin-bottom">Fidelize agora!</ion-title>
          <p>A maior riqueza dentro de uma empresa é o <strong>cliente fiel</strong>! Clientes com esse potencial, funcionam como um núcleo de atração para novos compradores.</p>
          <ion-button (click)="goToLogin()">Fidelizar agora !!!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide id="slide-3">
    <ion-grid>
      <ion-row justify-content-center class="ion-row__top">
        <ion-icon name="pulse"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-margin-bottom">Você no Controle!</ion-title>
          <p>Mantenha um registro de todas as sua vendas, dos seus clientes e da renda que você produziu. Tudo pode ser acessado pelo app de forma fácil, rápida e <strong>gratuita</strong>!!!</p>
          <ion-button (click)="goToLogin()">Fidelizar agora !!!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide id="slide-4">
    <ion-grid>
      <ion-row justify-content-center class="ion-row__top">
        <img src="https://res.cloudinary.com/dca4v2he5/image/upload/v1579654705/fiel-app/0c12d9f4-9967-4c6f-a294-ca6d7248b73c_200x200_m3kmho.png" alt="LOGO">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-margin-bottom">Preparado ?</ion-title>
          <p>Comece a utilizar agora mesmo !!!</p>
          <ion-button (click)="goToLogin()">Fidelizar agora !!!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
</ion-content>
